* {
    margin: 0;
    padding: 0;
}

#video_container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    z-index: -1;
}

.contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: cursive;
}

.contents h1 {
    font-family: cursive;
    font-size: 2em;
    margin: 10px 0;
    color: rgba(228, 238, 238, 0.812);
    text-transform: uppercase;
}



.contents a {
    font-family: cursive,'Courier New', Courier, monospace;
    font-size: 1em;
    margin: 10px 0;
    color:grren;
    text-transform: uppercase;
    top: 100%;
    text-decoration: none;
}



.contents a:hover {
    
    font-size: 40px;
     color: rgba(228, 238, 238, 0.812);
    
    
}